body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
#logo {
    position: relative;
    z-index: 1;
    font-size: 48px;
    color: rgb(27, 241, 15); /* ou use color: white; */
    font-family: 'Cascadia Code', monospace;
  }
